body{
.logo-center{

display:flex;
justify-content:center;
align-items:center;
margin-bottom:20px;

}

.logo-center img{

width:120px;
filter: drop-shadow(0 0 20px rgba(255,255,255,0.3));

}
margin:0;
font-family:Arial;
background:black;
color:white;

}

header{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px;

background:#000;

}

nav a{

color:white;
text-decoration:none;
margin:10px;
font-weight:bold;

}

.hero{

height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;

}

.hero h2{

font-size:50px;

}

.btn{

padding:15px 30px;
background:white;
color:black;
text-decoration:none;
margin-top:20px;
border-radius:5px;

}

.features{

display:flex;
justify-content:center;
gap:40px;
padding:60px;
flex-wrap:wrap;

}

.card{

background:#111;
padding:30px;
width:250px;
border-radius:10px;

}

footer{

text-align:center;
padding:20px;
background:#000;

}
.hero h2{

font-size:50px;
margin-top:10px;

}

.hero p{

color:#aaa;

}
